# Node.js
node_modules/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Build
dist/
build/

# Optional: if using uploads/temp files
uploads/
temp/
